<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<clear/>
		<add name="SQLDb1Local"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Data\db1.mdf;Integrated Security=True;Connect Timeout=30"/>
		
		<add name="OledDb1Local"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Data\db1.mdb"/>
	</connectionStrings>
</configuration>